div.flex.flex-wrap
  section#who.w-100.pa5.pa6-l
    h1.f1-ns.f3
      |
        Hallo, ich bin Lennard!
      br
      br

      |
        Ich bin Data Coach.

  section#what.w-100.pa5.pa6-l.f1-ns.f3
    p Ich löse die geschäftlichen Herausforderungen von Unternehmen mithilfe von Data & Analytics.

    p Wir untersuchen gemeinsam euren Data & Analytics-Stack, optimieren ihn und bauen eine datengetriebene Unternehmenskultur auf.

  section#how.w-100.pa5.pa6-l.f1-ns.f3
    p Genau wie ein agiler Coach einem Software-Team zum Höhenflug verhilft,<br />helfe ich eurem Data-Team, euren Analysten und euren Kollegen in Marketing & Vertrieb die Daten gewinnbringend einzusetzen.

  section#recent-0.w-100.pa5.pa6-l.f1-ns.f3
    p Ich arbeite seit 4 Jahren in Data & Analytics und Business Intelligence.

  section#recent-1.w-100.pa5.pa6-l.f1-ns.f3
    p Ich war der erste Data Engineer bei
      <a href="https://www.tourlane.de" target="_blank">Tourlane</a>, einem Start-up für personalisierte Traumreisen zu besonderen Destinationen.

    p Ich habe dort ein cross-funktionales Team aufgesetzt und zusammen haben wir unsere Vision und Roadmap für die nächsten Monate definiert.

    p Ich habe über 20 Data Pipelines betreut und ihre Qualität stark verbessert. Nach meiner umfangreichen Analyse der Data Platform haben wir die komplette Technologie überarbeitet und die genutzten KPIs auf den Prüfstand gestellt und vereinheitlicht.

  section#recent-2.w-100.pa5.pa6-l.f1-ns.f3
    p Vorher habe ich bei <a href="https://upday.com" target="_blank">upday for Samsung</a> gearbeitet, Europas reichweitenstärkster Nachrichten-App mit personaliserten Inhalten.

    p Ich habe das Data-Team mitgegründet und ein Data Warehouse aufgebaut, in das Event-Daten über Data Pipelines gestreamt werden.

    p Unter meiner Leitung haben wir eine komplett neue Infrastruktur für Event-Tracking und Business Intelligence aufgebaut, die monatlich mehrere Milliarden Events der Nutzer der App verarbeitet.

  section#experience.w-100.pa5.pa6-l.f1-ns.f3
    h3 Ich habe mehr als 6 Jahre Erfahrung als Software Engineer und Data Engineer.

    p.f2-ns.f4 Hier ist eine Auswahl meiner Fähigkeiten:

    ul.f3-ns.f5
      li Data Strategy
      li Data Engineering
      li Data Analytics
      li Business Intelligence
      li Data Warehousing
      li Amazon Redshift
      li Snowflake
      li PostgreSQL
      li SQL
      li ETL & ELT
      li dbt
      li Analytics
      li Datenvisualisierung
      li Data Pipelines
      li Looker
      li Metabase
      li Snowplow
      li Amazon Web Services
      li DevOps
      li Continuous Integration
      li Continuous Delivery
      li Infrastructure as Code
      li Terraform
      li Docker
      li Git
      li Microservices
      li Ruby on Rails
      li Ruby
      li Python
      li Shell Scripting
      li Projektmanagement
      li Kanban
      li Scrum
      li Produktmanagement
      li Lean Prototyping

  section#contact.w-100.pa5.pa6-l.f1-ns.f3
    h3 Die Transformation zu einem datengetriebenen Unternehmen ist nicht einfach.

    p.f2-ns.f4 Lass uns diese Herausforderung gemeinsam angehen!

    p.f2-ns.f4 Sag
      <a href="mailto:hello@lennardtimm.de">hello@lennardtimm.de</a>
      oder schreibe mir auf
      <a href="https://www.linkedin.com/in/lennardtimm/" target="_blank">LinkedIn</a>.

    p.f2-ns.f4 Oder reserviere dir jetzt ein 30-minütiges erstes Kennenlern-Gespräch:

  div.w-100
    <!-- Calendly inline widget begin -->
    <div class="calendly-inline-widget" data-url="https://calendly.com/datacoach/30min" style="min-width:320px;height:650px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    <!-- Calendly inline widget end -->
