= stylesheet_link_tag 'site'
= javascript_include_tag 'site'

javascript:
  ;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalSnowplowNamespace=p.GlobalSnowplowNamespace||[];
  p.GlobalSnowplowNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
  };p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;
  n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,"script","#{{ asset_path :js, 'sp.js' }}","snowplow"));

  window.snowplow('newTracker', 'sp', '#{{ ENV['SP_COLLECTOR_HOST'] }}', {
    appId: '#{{ build? ? "lennardtimm.de" : "lennardtimm.development" }}',
    cookieDomain: '#{{ build? ? "lennardtimm.de" : "lennardtimm.development" }}',
    forceSecureTracker: true,
    respectDoNotTrack: true,
    respectOptOutCookie: true,
    contexts: {
      webPage: true,
      performanceTiming: true
    }
  });

  window.trackWhenEnabled = function() {
    var enabled = Cookies.get('cookieconsent_status') !== 'deny' &&
      Cookies.get('sp_optout') === undefined;

    if (enabled) {
      window.snowplow('enableActivityTracking', 30, 10);
      window.snowplow('trackPageView');
    }
  };

  window.trackWhenEnabled();
