meta name="author" content="Lennard Timm"
meta name="description" property="og:description" content="I help companies solve business problems through analytics. Together we review and improve your data & analytics stack and establish a data-driven culture."
meta name="image" property="og:image" content="https://lennardtimm.de/images/datacoach.png?1"
meta name="title" property="og:title" content="Lennard Timm · Data Coach for Start-ups"
meta property="og:image:height" content="628"
meta property="og:image:secure_url" content="https://lennardtimm.de/images/datacoach.png?1"
meta property="og:image:url" content="https://lennardtimm.de/images/datacoach.png?1"
meta property="og:image:width" content="1200"
meta property="og:locale" content="en_GB"
meta property="og:type" content="website"
meta property="og:updated_time" content="#{Time.now.utc.iso8601}"
meta property="og:url" content="https://lennardtimm.de"
