div.flex.flex-wrap
  section#who.w-100.pa5.pa6-l
    h1.f1-ns.f3
      |
        Hi, I'm Lennard.
      br
      br

      |
        I'm a Data Coach.

  section#what.w-100.pa5.pa6-l.f1-ns.f3
    p I help companies solve business problems through analytics.

    p Together we review and improve your data & analytics stack and establish a data-driven culture.

  section#how.w-100.pa5.pa6-l.f1-ns.f3
    p Just like an agile coach helps development teams becoming great,<br />
      I'll help your data team, your analysts, your marketers to leverage all data.

  section#recent-0.w-100.pa5.pa6-l.f1-ns.f3
    p I have been working in data & analytics for the last 3 years:

  section#recent-1.w-100.pa5.pa6-l.f1-ns.f3
    p I was the first Data Engineer at
      <a href="https://www.tourlane.de" target="_blank">Tourlane</a>, a travel start-up planning personalised trips to exotic destinations.

    p I set up a small cross-functional team and together we defined our vision and roadmap for the next months.

    p I maintained and improved 20+ data pipelines and initiated a review of the data platform, leading to a complete technlogy overhaul and critical assessment of KPIs and company metrics.

  section#recent-2.w-100.pa5.pa6-l.f1-ns.f3
    p Before, I worked at <a href="https://upday.com" target="_blank">upday for Samsung</a>, Europe's biggest news app providing personalised content.

    p I was a founding member of the data team and created the data warehouse with data pipelines ingesting streaming event data.

    p I drove the migration to a new event tracking and analytics infrastructure capable of handling billions of events per month.

  section#experience.w-100.pa5.pa6-l.f1-ns.f3
    h3 I have been a Software Engineer and Data Engineer for 5+ years.

    p.f2-ns.f4 Some technologies and methods I'm experienced in:

    ul.f3-ns.f5
      li Data Strategy
      li Data Engineering
      li Data Analytics
      li Business Intelligence
      li Data Warehousing
      li Amazon Redshift
      li Snowflake
      li PostgreSQL
      li SQL
      li ETL & ELT
      li dbt
      li Analytics
      li Data Visualisation
      li Data Pipelines
      li Looker
      li Metabase
      li Snowplow
      li Amazon Web Services
      li DevOps
      li Continuous Integration
      li Continuous Delivery
      li Infrastructure as Code
      li Terraform
      li Docker
      li Git
      li Microservices
      li Ruby on Rails
      li Ruby
      li Python
      li Shell Scripting
      li Project Management
      li Kanban
      li Scrum
      li Product Management
      li Lean Prototyping

  section#contact.w-100.pa5.pa6-l.f1-ns.f3
    h3 Transforming a business to become data-driven can be tough.

    p.highlight.f2-ns.f4 Let's accept the challenges together!

    p.f2-ns.f4 Say
      <a href="mailto:hello@lennardtimm.de">hello@lennardtimm.de</a>
      or reach out to me on
      <a href="https://www.linkedin.com/in/lennardtimm/" target="_blank">LinkedIn</a>.

    p.f2-ns.f4 Or schedule a free 30-min first call now:

  div.w-100
    <!-- Calendly inline widget begin -->
    <div class="calendly-inline-widget" data-url="https://calendly.com/datacoach/30min" style="min-width:320px;height:650px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    <!-- Calendly inline widget end -->
